@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

:root{
    /* Màu nền sidebar*/
    --color-1: #ffffff; 
    --color-2: #141416;
    /* Màu content*/
    --color-3: #e6e6e6; 
    --color-4: #000000;
    /* Màu khi hover sidebar */
    --color-5: #c2c2c2;
    --color-6: #3d3d3d;
    /* Màu content */
    --color-7: #ffffffb5; 
    --color-8: #141416b5;
    /* Màu khi hover content */
    --color-9: #e0e0e0b5;
    --color-10: #444444b5;
    --primary: #11998e;
    --secondary: #38ef7d;
}

*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(-45deg, rgb(181,234,215), rgb(255,255,216), rgb(247 202 206), rgb(255,218,193), rgb(255,218,193), rgb(199,206,234), rgb(224,254,254));
    margin: 0;
    height: 100vh;
    display: flex;
}

/* ----------------Background Image---------------- */

#bg, #bg2{
    width:auto;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
}

#bg2{
    display: none;
}

.fadeIn{
    animation-name: changeImageAnimation;
    animation-duration: var(--animation-duration);
}

@keyframes changeImageAnimation{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* ---------------------Sidebar------------------- */
.open-sidebar{
    position: absolute;
    align-self: center;
    font-size: 50px;
    left: 10px;
    cursor: pointer;
    color: var(--color-2);
    text-shadow: 0 2px 3px black;
}


.sidebar{    
    position: absolute;
    left: -20%;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 2;
    background-color: var(--color-1);
    color: var(--color-4);
    font-family: 'Source Sans Pro', sans-serif;
    transition: background-color .1s linear, color .2s linear, left .5s ease-out;
    cursor: default;
}

.dark-sidebar{
    background-color: var(--color-2);
    color: var(--color-3);
}

.fa-arrow-left{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 45px;
    cursor: pointer;
}

.dark-content{
    color: var(--color-3);
}

.header{
    position: absolute;
    top: 80px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
}

.bxs-zap{
    font-size: 40px;
}

.header-title{
    font-size: 23px;
    font-weight: 700;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 140px;
    width: 100%;
}


.items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.contents-intro{
    display: flex;
    align-items: center;
}


.icons-intro{
    font-size: 30px;
    /* min-width: 30px; */
    text-align: center;
}

.texts-intro{
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}

.expand-content{
    font-size: 30px;
}

.footer{
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.darkmode{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx-moon, .bx-sun{
    font-size: 30px;
    position: relative;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkmode-text{
    font-size: 20px;
    margin: 0 15px;
}


/* Checkbox */
.switch {
    width: 0;
    height: 0;
    visibility: hidden;
}

.switch-button {
    display: block;
    width: 50px;
    height: 25px;
    background-color: var(--color-2);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px #477a8550;
}


.switch-button::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--color-1);
    position: absolute;
    border-radius: 70px;
    transition: 0.5s;
    top: 2px;
    left: 5px;
}

.switch:checked + .switch-button:after {
    transform: translateX(20px);
    background-color: var(--color-2)
}  

.switch:checked + .switch-button {
    background-color: var(--color-1);
}

.switch-button:active:after {
    width: 25px;
}

/* Responsive Newtab */
@media only screen and (max-width: 1155px){
    .header-title, .texts-intro, .expand-content::before, .darkmode-text, .button{
        display: none;
    }

    .fa-arrow-left{
        margin: 20px 0;
        font-size: 35px;
    }
    .sidebar{
        width: 70px;
        align-items: center;
    }
    .items{
        justify-content: center;
    }
}

.items:hover{
    background-color: var(--color-5);
}

.dark-sidebar .items:hover{
    background-color: var(--color-6);
}

.content{
    position: absolute;
    left: 100%;
    width: 430px;
    padding: 10px;
    display: none;
    flex-direction: column-reverse;
    background-color: var(--color-7);
    font-family: 'Sans-serif', system-ui;
}

.dark-sidebar .content{
    background-color: var(--color-8);
}

.alert-content{
    font-size: 17px;
    margin: 5px;
}

.subs-content{
    display: flex;
    align-items: center;
    padding: 7px 0;
}

.texts-content{
    text-decoration: none;
    font-size: 15px;
    margin-left: 15px;
    color: var(--color-4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dark-sidebar .texts-content{
    color: var(--color-3);
}

.bookmark-content .texts-content{
    max-width: 300px;
}

.fa-trash{
    position: absolute;
    right: 10px;
    font-size: 15px;
    cursor: pointer;
}

.bx-add-to-queue{
    font-size: 20px;
}


.add-content{
    color: var(--color-4);
    cursor: pointer;
}

.dark-sidebar .add-content{
    color: var(--color-3);
}

.add-content-title{
    margin: 0;
    font-size: 15px;
    margin-left: 10px;
}

.dark-sidebar .fa-circle-minus{
    color: var(--color-1);
}

.add-content-dialog{
    display: flex;
    flex-direction: column;
    display: none;
}

.dialog-header{
    padding: 5px 0;
    margin: 0;
}

.icons-queue{
    display: flex;
    align-items: center;
}

.fa-plus, .fa-xmark{
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.dialog-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.form__group {
    position: relative;
    padding: 10px 0;

}
.form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 15px;
    color: #fff;
    padding: 5px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    cursor: text;
    top: 10px;
}
.form__label {
    position: absolute;
    top: 0px;
    display: block;
    transition: 0.2s;
    font-size: 13px;
    color: var(--color-4);
}

.dark-sidebar .form__label{
    color: var(--color-3);
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 10px;
    color: #11998e;
    font-weight: 700;
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.setting-content{
    flex-direction: column;
}

.setting-options{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.title-block{
    display: flex;
}

.number-of-picture-input{
    flex: 1;
}

#number-of-picture{
    color: var(--color-4);
}

.dark-sidebar #number-of-picture{
    color: var(--color-3);
}

.bxs-send{
    font-size: 25px;
    cursor: pointer;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 7px 0; */
}

.name-options{
    font-size: 17px;
}

.child-options{
    padding: 5px 10px 0 10px;
    display: none;
    flex-direction: column;
}

.child-options__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child-name-options{
    font-size: 13px;
    min-width: 150px;
    margin: 7px;
}

.options-value{
    flex: 1;
    height: 25px;
    border: 0;
    background-color: var(--color-1);
    color: var(--color-4);
}

.dark-sidebar .options-value{
    background-color: var(--color-2);
    color: var(--color-3);
}
