:root{
  --tab-color: #067272;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  width: 450px;
  font-family: "Poppins", sans-serif;
}


/* Tab */

.tabs {
  display: flex;
  position: relative;
}
.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: var(--tab-color);
  transition: all 0.2s ease;
}
.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 14px;
  text-align: center;
  color: var(--tab-color);
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}
.tab-icon {
  font-size: 20px;
  width: 32px;
  position: relative;
  top: 2px;
}
.tab-item:hover {
  opacity: 1;
  background-color: rgba(118, 138, 136, 0.05);
  border-color: rgba(38, 121, 114, 0.1);
}
.tab-item.active {
  opacity: 1;
}
.tab-content {
  padding: 15px;
}
.tab-pane {
  color: #333;
  display: none;
}
.tab-pane.active {
  display: block;
}
.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.warring{
  padding: 5px;
  color: red;
}

/* Cài đặt chuyển ảnh */

.items{
	display: flex;
  justify-content: space-between;
}

.setting-items{
  padding: 5px;
  font-size: 16px;
}

.property{
	min-width: 200px;
}

/* Cài đặt hiệu ứng chuyển */
